:root {
	--primary-white: #fff;
	--primary-orange: #f9ab00;
	--primary-orange-sparse: rgba(249, 171, 0, 0.25);
	--primary-dark: #343a40;
}

html {
	font-size: calc(1em * 0.625);
}
body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.4em;
}

nav ul li {
	text-transform: uppercase;
}

nav a.nav-link {
	font-weight: 700;
	letter-spacing: 0.06rem;
	cursor: pointer;
}

.navbar-nav > li > a {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	border-radius: 1rem;
	background-color: var(--primary-dark);
	color: var(--primary-white);
	transition: background-color 0.4s, color 0.4s;
}

.navbar-nav > li > a:hover {
	border-radius: 1rem;
	background-color: var(--primary-orange-sparse);
}

.navbar-nav > li > a:active,
.navbar-nav > li > a:focus {
	border-radius: 1rem;
	background-color: var(--primary-orange);
	color: var(--primary-dark) !important;
}

.logo {
	width: 6rem;
}

.navbar-brand {
	max-width: 6rem;
	padding: 0;
	height: 6rem;
}
